<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Explore Our Community</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  
  <h1>Welcome to the Cookbook Community!</h1>

    <ul>
      <% allUsers.forEach(user => { %>
        <li>
          <a href="/users/<%= user._id %>"><%= user.username %></a>
        </li>
      <% }) %>
    </ul>

</body>
</html>