<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Explore Our Community</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  
  <h1><%= selectedUser.username %>'s Pantry</h1>

    <ul class="food-grid">
      <% selectedUser.pantry.forEach(item => { %>
        <li class="food-cards"><%= item.name %></li>
      <% }) %>
    </ul>

    <a href="/users">← Back to Community</a>

</body>
</html>